@mixin vertical-align {
    position: relative;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* == Global Site Styles ===================================== */
body {
    margin: 0;
}

a {
    text-decoration: none;
    &:active,&:hover {
        outline: none;
    }
    &:hover,&:focus {
    }
}

h1,h2,h3,h4,h5,h6 {
    margin:0;
}

h1 {
    font-size:60px;
    margin: 20px 0px; 
}

h2 {
    font-size:26px;
    margin-bottom:25px;
}

h3 {
    font-size:24px;
    padding:1px 0;
    margin-bottom:25px;
}

h4 {}

h5 {}

h6 {}


.centered {
    margin: 0 auto;
    max-width: $max-width;
}

.footer {

}

header {
    margin:5% 0 3% 0;

    h1 {
        margin-left:10%;
        font-weight:600;
        text-shadow: rgb(224, 224, 224) 1px 1px 0px;
    }
}

/* == Padding ================================================ */
.left {
    padding-left: 2.5%;
}

.leftNarrow {
    padding-left: 1.5%;
}

.right {
    padding-right: 2.5%;
}

.rightNarrow {
    padding-right: 1.5%;
}


/* == Dialog Window ========================================== */
.ng-modal {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    /*
    parent div of help box must have a set height and width so that 
    relative positioning can work in webkit browsers.
    */
    height: 100%; 
    width: 100%;
    .ng-modal-overlay {
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        background-color:rgba(0,0,0,.25);
        height:100%;
        width:100%;
        z-index:100;
    }
    .ng-modal-dialog {
        position:relative;
        width:50%;
        background-color:$white;
        z-index:110;
        margin:0 auto;
        padding:2%;
        border:1px solid #bcbcbc;

        @include vertical-align();
        @include box-shadow(3px 3px 5px 2px rgba(0,0,0,.35));

        h2 {
            margin-top:25px;
            padding-bottom:10px;
            border-bottom:1px solid #bcbcbc;
        }
        p {
            line-height:1.25em;
        }
    }
    .ng-modal-close {
        position:absolute;
        top:0;
        right:0;
        padding:10px;
        border:1px solid #bcbcbc;
        margin:5px;
        font-weight:600;
        cursor:pointer;
        background-color:#fbfbfb;
        @include box-shadow(1px 1px 1px 1px rgba(0,0,0,.10));

        &:hover{
            @include box-shadow(1px 1px 1px 1px rgba(0,0,0,0));
        }
    }
}


