@media (max-width:1550px) {
	.leftColumn {
		.process {
			display:block;
			margin-top:10px;
		}
	}
}


@media (max-width:1300px) {

 .rightColumn {
    input, select {
        width:80%;

        &.generatedURL {
            width:100%;
        }
    }
	}
}


@media (max-width:1100px) {
.leftColumn {
	.process{
		width:90px;
		margin-top: 5px;
		line-height: 1.2em;
		}
	}
}


@media (max-width:900px) {

 .rightColumn {
    input, select {
        width:100%;

        &.generatedURL {
            width:100%;
        }
    }
	}
}

@media (max-width:650px) {

 .rightColumn {
    width:100%;
    margin-left:0px;

}

.leftColumn {
	width:100%;

	.process {
		width:200px;
		display:inline-block;
	}
}

}