@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic,600italic);
/* line 2, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/framework/_framework.scss */
.columns { position: relative; float: left; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

/* line 4, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/framework/_framework.scss */
.half.column, .half.columns { position: relative; float: left; width: 50%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

/* line 5, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/framework/_framework.scss */
.one-third.column, .one-third.columns { position: relative; float: left; width: 33.33333%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

/* line 6, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/framework/_framework.scss */
.two-thirds.column, .one-third.columns { position: relative; float: left; width: 66.66667%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

/* line 8, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/framework/_framework.scss */
.one.column, .one.columns { position: relative; float: left; width: 6.25%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

/* line 9, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/framework/_framework.scss */
.two.columns { position: relative; float: left; width: 12.5%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

/* line 10, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/framework/_framework.scss */
.three.columns { position: relative; float: left; width: 18.75%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

/* line 11, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/framework/_framework.scss */
.four.columns { position: relative; float: left; width: 25%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

/* line 12, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/framework/_framework.scss */
.five.columns { position: relative; float: left; width: 31.25%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

/* line 13, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/framework/_framework.scss */
.six.columns { position: relative; float: left; width: 37.5%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

/* line 14, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/framework/_framework.scss */
.seven.columns { position: relative; float: left; width: 43.75%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

/* line 15, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/framework/_framework.scss */
.eight.columns { position: relative; float: left; width: 50%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

/* line 16, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/framework/_framework.scss */
.nine.columns { position: relative; float: left; width: 56.25%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

/* line 17, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/framework/_framework.scss */
.ten.columns { position: relative; float: left; width: 62.5%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

/* line 18, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/framework/_framework.scss */
.eleven.columns { position: relative; float: left; width: 68.75%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

/* line 19, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/framework/_framework.scss */
.twelve.columns { position: relative; float: left; width: 75%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

/* line 20, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/framework/_framework.scss */
.thirteen.columns { position: relative; float: left; width: 81.25%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

/* line 21, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/framework/_framework.scss */
.fourteen.columns { position: relative; float: left; width: 87.5%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

/* line 22, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/framework/_framework.scss */
.fifteen.columns { position: relative; float: left; width: 93.75%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

/* line 23, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/framework/_framework.scss */
.sixteen.columns { position: relative; float: left; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

@media only screen and (max-width: 767px) { /* line 45, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/framework/_framework.scss */
  .half.column, .half.columns, .one-third.column, .one-third.columns, .two-thirds.column, .two-thirds.columns, .one.column, .one.columns, .two.columns, .three.columns, .four.columns, .five.columns, .six.columns, .seven.columns, .eight.columns, .nine.columns, .ten.columns, .eleven.columns, .twelve.columns, .thirteen.columns, .fourteen.columns, .fifteen.columns, .sixteen.columns { position: relative; float: left; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; } }
/* == Base Style Fixes ======================================= */
/* line 48, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/framework/_framework.scss */
img { max-width: 100%; -ms-interpolation-mode: bicubic; }

/* line 53, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/framework/_framework.scss */
input { border: 1px solid #aaa; padding: 1%; outline: none; margin: 0 0 1% 0; height: 1%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* line 62, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/framework/_framework.scss */
input.requiredRed, select.requiredRed + div.chzn-container, textarea.requiredRed { background: #FFC0BD; }

/* line 66, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/framework/_framework.scss */
.dimmer { width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 98; display: none; background-color: rgba(0, 0, 0, 0.25); }

/* line 78, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/framework/_framework.scss */
.clearfix:before, .clearfix:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; clear: both; }

/* line 88, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/framework/_framework.scss */
.popUp { position: absolute; left: 50%; z-index: 99; display: none; background-color: #fff; }

/* == Typography ============================================= */
/* line 4, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/framework/_typography.scss */
body { font-family: "Source Sans Pro", Helvetica, sans-serif; font-size: 100%; line-height: 1em; letter-spacing: 0.025em; -webkit-font-smoothing: antialiased; }

/* line 12, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/framework/_typography.scss */
h1, h2, h3, h4, h5, h6 { font-family: "Source Sans Pro", Helvetica, sans-serif; }

/* line 15, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/framework/_typography.scss */
h1 { font-size: 1.75em; color: #65c2ed; }

/* line 20, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/framework/_typography.scss */
h2 { font-size: 1.75em; line-height: 1.125em; font-weight: lighter; margin: 20px 0; }

/* line 26, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/framework/_typography.scss */
h3 { font-size: 1.5em; font-weight: lighter; line-height: 1.125em; }
/* line 30, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/framework/_typography.scss */
h3 strong { font-weight: 500; }
/* line 33, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/framework/_typography.scss */
h3 em { font-style: italic; }

/* line 38, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/framework/_typography.scss */
h4 { font-size: 1.25em; font-weight: 500; font-style: italic; }

/* line 44, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/framework/_typography.scss */
h5 { font-size: 1.125em; font-weight: 600; font-style: italic; }

/* line 50, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/framework/_typography.scss */
p { font-size: 1.125em; line-height: 1.5em; letter-spacing: 0; }

/* line 55, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/framework/_typography.scss */
li { font-size: 1.125em; line-height: 1.5em; letter-spacing: 0; }

/* == Font Icons ============================================= */
/* == Global Site Styles ===================================== */
/* line 10, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_global.scss */
body { margin: 0; background-color: #e5f8fd; }

/* line 15, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_global.scss */
a { text-decoration: none; }
/* line 17, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_global.scss */
a:active, a:hover { outline: none; }

/* line 24, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_global.scss */
h1, h2, h3, h4, h5, h6 { margin: 0; }

/* line 28, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_global.scss */
h1 { font-size: 60px; }

/* line 32, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_global.scss */
h2 { font-size: 26px; margin-bottom: 25px; }

/* line 37, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_global.scss */
h3 { font-size: 24px; padding: 1px 0; margin-bottom: 25px; }

/* line 50, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_global.scss */
.centered { margin: 0 auto; max-width: 1400px; }

/* line 59, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_global.scss */
header { margin: 5% 0 3% 0; }
/* line 62, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_global.scss */
header h1 { margin-left: 10%; font-weight: 600; text-shadow: #e0e0e0 1px 1px 0px; }

/* == Padding ================================================ */
/* line 70, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_global.scss */
.left { padding-left: 2.5%; }

/* line 74, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_global.scss */
.leftNarrow { padding-left: 1.5%; }

/* line 78, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_global.scss */
.right { padding-right: 2.5%; }

/* line 82, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_global.scss */
.rightNarrow { padding-right: 1.5%; }

/* == Dialog Window ========================================== */
/* line 88, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_global.scss */
.ng-modal { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
/* line 94, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_global.scss */
.ng-modal .ng-modal-overlay { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0, 0, 0, 0.25); height: 100%; width: 100%; z-index: 100; }
/* line 105, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_global.scss */
.ng-modal .ng-modal-dialog { position: relative; width: 50%; background-color: white; z-index: 110; margin: 0 auto; padding: 2%; border: 1px solid #bcbcbc; position: relative; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); -webkit-box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.35); -moz-box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.35); box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.35); }
/* line 117, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_global.scss */
.ng-modal .ng-modal-dialog h2 { margin-top: 25px; padding-bottom: 10px; border-bottom: 1px solid #bcbcbc; }
/* line 122, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_global.scss */
.ng-modal .ng-modal-dialog p { line-height: 1.25em; }
/* line 126, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_global.scss */
.ng-modal .ng-modal-close { position: absolute; top: 0; right: 0; padding: 10px; border: 1px solid #bcbcbc; margin: 5px; font-weight: 600; cursor: pointer; background-color: #fbfbfb; -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1); -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1); box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1); }
/* line 138, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_global.scss */
.ng-modal .ng-modal-close:hover { -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0); -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0); box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0); }

/* == /#/Home ================================================ */
/* line 3, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_pages.scss */
.home section { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 15px; width: 100%; height: 80px; border-bottom: 1px dotted #bcbcbc; }
/* line 12, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_pages.scss */
.home .container { -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: relative; float: left; margin-left: 10%; padding: 20px; width: 65%; border: 1px solid #bcbcbc; background-color: #fbfbfb; }
/* line 25, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_pages.scss */
.home .container section div { height: 100%; display: block; }
/* line 29, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_pages.scss */
.home .container section input { margin: 0; margin-left: 1%; padding: 5px 15px; width: 95%; height: 100%; font-size: 20px; }
/* line 39, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_pages.scss */
.home .directions { color: #474747; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: relative; float: left; padding: 20px; width: 25%; border: 1px solid rgba(0, 0, 0, 0); }
/* line 50, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_pages.scss */
.home .directions .circle { -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; color: #474747; margin: 0; padding: 1% 1% 1.5%; width: 25px; height: 25px; border: 2px solid #474747; text-align: center; font-weight: 600; }
/* line 61, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_pages.scss */
.home .directions .circle.required { color: #d10101; border-color: #d10101; }
/* line 66, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_pages.scss */
.home .directions .links { padding-left: 5px; }
/* line 69, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_pages.scss */
.home .directions .littleMargin { margin-bottom: 10px; }

@media (max-width: 1550px) { /* line 3, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_responsive.scss */
  .leftColumn .process { display: block; margin-top: 10px; } }
@media (max-width: 1300px) { /* line 12, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_responsive.scss */
  .rightColumn input, .rightColumn select { width: 80%; }
  /* line 14, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_responsive.scss */
  .rightColumn input.generatedURL, .rightColumn select.generatedURL { width: 100%; } }
@media (max-width: 1100px) { /* line 23, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_responsive.scss */
  .leftColumn .process { margin-top: 5px; width: 90px; line-height: 1.2em; } }
@media (max-width: 900px) { /* line 33, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_responsive.scss */
  .rightColumn input, .rightColumn select { width: 100%; }
  /* line 35, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_responsive.scss */
  .rightColumn input.generatedURL, .rightColumn select.generatedURL { width: 100%; } }
@media (max-width: 650px) { /* line 43, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_responsive.scss */
  .rightColumn { margin-left: 0px; width: 100%; }
  /* line 47, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_responsive.scss */
  .leftColumn { width: 100%; }
  /* line 49, /Users/kylejasso/Desktop/Brolik/DS-Link-Builder/sass/_responsive.scss */
  .leftColumn .process { display: inline-block; width: 200px; } }
