<div class="home">
    <div class="clearfix">
        <div class="container">
            <form>
                <section ng-repeat="field in fields">
                    <div ng-switch="field.type">
                        <div ng-switch-when="input">
                            <input type="text" required="field.required" />
                        </div>
                        <div ng-switch-when="select" ng-switch="field.model">
                            <select ng-switch-when="source" required="field.required">
                                <option ng-repeat="source in sources" value="{{source.value}}">{{source.title}}</option>
                            </select>
                            <select ng-switch-when="medium" required="field.required">
                                <option ng-repeat="medium in mediums" value="{{medium.value}}">{{medium.title}}</option>
                            </select>
                        </div>
                    </div>
                </section>
            </form>
        </div>
        <div class="directions">
            <section ng-repeat="field in fields">
                <div class="clearfix">
                    <div class="two columns" ng-switch='field.required'>
                        <h3 ng-switch-when="true" class="circle required">{{$index + 1}}</h3>
                        <h3 ng-switch-when="false" class="circle">{{$index + 1}}</h3>
                    </div>
                    <div class="fourteen columns">
                        <h3 class="littleMargin">{{field.title}}</h3>
                        <span class="links">
                            <button ng-click="toggleModal('help', field.model)">Help</button> |
                            <a href="#">Custom</a>
                        </span>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<button ng-click="toggleModal('help','URL')">Open</button>
<!-- <button ng-click="toggleModal('add','addMedium')">Open</button> -->